{# src/OC/UserBundle/Resources/Views/login.html.twig #}

{% extends "layout.html.twig" %}

{% block slide %}
    {% block app_header %}

    {% endblock %}
{% endblock %}


{# Dans notre layout, il faut définir le block body #}
{% block body %}

    </div>

    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
    <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">


        {# S'il y a une erreur, on l'affiche dans un joli cadre #}
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Login :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" />
            <br />
            <input type="submit" value="Connexion" />
        </form>


    </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
    </div>


{% endblock %}